*{
  margin: 0;
  padding: 0;
}
img{
  /* margin-top: 100px; */
  width: 100px;
}

.login_page{
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(194, 192, 78);
  border: 2px solid rgb(101, 152, 39);
}
button{
  width: 100px;
  background: none;
  border: none;
}
h1{
  padding: 20px;
  text-align: center;
}